
#kart 
    { 
        height:300px;
	}


/* First breakpoint at 500px */
/* Inherits mobile styles, but floats containers to make columns */
@media all and (min-width: 500px)
{
	#kart 
    { 
        height:500px;
	}
}


@media all and (min-width: 700px)
{
	#kart 
    { 
        height:700px;
	}
}